<div class="modal fade" id="new-arbitro-partido" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	
	<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Agregar Arbitros</h4>
        </div>
        <div class="modal-body">
            
            <div id="list-arbitros-torneo">
            </div>
            
        </div>

        <div class="modal-footer">
            <button id="btn-cancelar-arbitro-partido" type="button" class="btn btn-default" >Cancelar</button>
            <button id="btn-aceptar-arbitro-partido" type="button" class="btn btn-success">Aceptar</button>
        </div>
    </div>
  </div>
</div>
