.gradle

.idea/
build/
*.log
*.iml

# Ignore Gradle GUI config
gradle-app.settinga

web/*.iml
web/build/
web/*.log
web/src/main/resources/node_modules
web/out

repositories/*.iml
repositories/build/
repositories/*.log
repositories/out

services/*.iml
services/build/
services/*.log
services/out

gradlew.bat

.DS_Store
web/src/main/resources/node_modules/
velocity*
