<div class="row">
    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div id="liga-detail" class="panel-body">
                                <h4 class="list-group-item-heading"><%= nombre %></h4>
                                <p class="list-group-item-text"><%= descripcion %></p>
                                <p class="list-group-item-text"><%= fechaInicioDes %> - <%= fechaFinDes %></p>
                                <p class="list-group-item-text"><%= status %></p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tabla de Lideres</h3>
                            </div>
                            <div id="torneo-lideres" class="panel-body">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tabla de Posiciones</h3>
                            </div>
                            <div id="torneo-tabla-posiciones" class="panel-body">
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Jornada</h3>
                            </div>
                            <div id="torneo-jornadas" class="panel-body">

                                <div class="form-group">
                                    <select class="form-control" id="select-torneo-jornada" placeholder="Jornada...">
                                    </select>
                                </div>
                                <table id="torneo-partidos" class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th>Local</th>
                                        <th>Visita</th>
                                        <th>Fecha</th>
                                        <th>Lugar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
