<nav id="header-general" class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="row">
  <div class="col-md-12">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
        </button>
        <a id="home" class="navbar-brand title-entuliga" href="#">entuliga</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="minus-right nav navbar-nav navbar-right">
          <button id="signup" type="button" class="btn btn-default navbar-btn">Registrar</button>
          <button id="signin" type="button" class="btn btn-success navbar-btn">Ingresar</button>
        </ul>
      </div>
    </div>

  </div>
</div>
</nav>
