<div class="row">
    <div class="col-md-12">
      <div class="main-box">


        <div class="panel panel-info">
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-4">

              </div>
              <div class="col-lg-4">
                <div class="input-group">
                  <input id="sel-torneo" type="text" class="form-control" placeholder="Escribe el nombre del torneo...">
                  <span class="input-group-btn">
                    <button id="go-torneo" class="btn btn-default" type="button">Ir</button>
                  </span>
                </div>
              </div>
              <div class="col-lg-4">

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
