<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <ul id="tab-admin" class="nav nav-tabs nav-justified">
                <li class= active"><a href="#perfil" data-toggle="tab">Perfil</a></li>
                <li class=""><a href="#ligas" data-toggle="tab"><span class="badge pull-right badge-warning">0</span>Ligas</a></li>
                <li class=""><a href="#torneos" data-toggle="tab"><span class="badge pull-right badge-success">0</span>Torneos</a></li>
                <li class=""><a href="#equipos" data-toggle="tab"><span class="badge pull-right badge-primary">0</span>Equipos</a></li>
                <li class=""><a href="#jugadores" data-toggle="tab"><span class="badge pull-right badge-default">0</span>Jugadores</a></li>
            </ul>
            <div id="tab-admin-content" class="tab-content">
                <div class="tab-pane fade active in" id="perfil">
                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
                </div>
                <div class="tab-pane fade" id="ligas">
                    <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.  </p>
                </div>
                <div class="tab-pane fade" id="torneos">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone...</p>
                </div>
                <div class="tab-pane fade" id="equipos">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone...</p>
                </div>
                <div class="tab-pane fade" id="jugadores">
                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone...</p>
                </div>
            </div>
        </div>
    </div>
</div>