<div class="container-fluid">
    <div class="navbar-header">
        <a id="home" class="navbar-brand" href="#">entuliga</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#admin/perfil">Perfil</a>
            </li>
            <li class="">
                <a href="#admin/ligas">
                    <span class="badge pull-right badge-warning">0</span>Ligas
                </a>
            </li>
            <li class="">
                <a href="#admin/torneos">
                    <span class="badge pull-right badge-success">0</span>Torneos
                </a>
            </li>
            <li class="">
                <a href="#admin/equipos">
                    <span class="badge pull-right badge-primary">0</span>Equipos
                </a>
            </li>
            <li class="">
                <a href="#admin/jugadores">
                    <span class="badge pull-right badge-default">0</span>Jugadores
                </a>
            </li>
        </ul>
        <p class="nav navbar-right">
            <button id="logout" type="button" class="btn btn-danger navbar-btn">Salir</button>
        </p>
    </div>
</div>