<div class="row">
    <div class="col-md-12">
        <table id="torneo-equipos" class="table table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Equipo</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group-horizontal" role="group" aria-label="...">
            <button id="equipo-agregar" type="button" class="btn btn-primary">Agregar</button>
        </div>
    </div>
</div>
<div id="modal-equipo-search">
</div>