<div class="container">
    <div class="col-md-12">
        <ul class="pager">
            <div class="navbar-header">
                <a class="navbar-brand" href="">Hotel ADN</a>
            </div>
            <li class="next">
                <a id="logout-hotel" href="#">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </li>
            <li class="next">
                <a id="close-hotel-detail" href="#">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
