<div class="row">
    <div class="col-md-12 separator-bottom"><h4>Detalle Solicitud</h4></div>
</div>
<ul id="tabs-detail-solicitud" class="nav nav-tabs" data-tabs="tabs">
    <li role="presentation" class="active"><a href="#detail">Solicitud</a></li>
    <li role="presentation"><a href="#comments">Comentarios</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
    <div class="tab-pane active" id="detail">
        <div class="row">
            <div class="col-md-12">
                <h3>No. <%= id %></h3>
                <p><%= habitacionNo %></p>
                <p><%= servicioDesc %></p>
                <p><%= fechaSolicitud %></p>
                <p id="p-estado-solicitud"><%= estadoSolicitud %></p>
                <p>
                    <label for="sol-cambiar-estado" class="control-label">Estado:</label>
                    <select id="sol-cambiar-estado" class="selectpicker form-control" data-size="5">
                    </select>
                </p>
                <p>
                    <button id="btn-cambiar-estado" type="button" class="btn btn-primary">Cambiar Estado</button>
                </p>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="comments">
        <div class="chat-box-footer">
            <div class="input-group">
                <input id="txt-comment" type="text" class="form-control" placeholder="Ingrese comentario ...">
                <span class="input-group-btn">
                    <button id="btn-send-comment" class="btn btn-primary" type="button">Enviar</button>
                </span>
            </div>
        </div>
        <div class="panel-body chat-box-main">
            <div id="coment-history"></div>
        </div>
    </div>
</div>