<div class="modal fade" id="solicitudModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Nueva Solicitud</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="sol-no-habitacion" class="control-label">No Habitación:</label>
                        <select id="sol-no-habitacion" class="selectpicker form-control" data-size="5">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sol-categoria" class="control-label">Categoria:</label>
                        <select id="sol-categoria" class="selectpicker form-control" data-size="5">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sol-servicio" class="control-label">Servicio:</label>
                        <select id="sol-servicio" class="selectpicker form-control" data-size="5">
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sol-comentario" class="control-label">Comentario:</label>
                        <input type="text" class="form-control" id="sol-comentario">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btn-cancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btn-solicitar" type="button" class="btn btn-primary">Solicitar</button>
            </div>
        </div>
    </div>
</div>