<div class="row">
    <div class="col-xs-2">
        <img class="avatar avatar-sm" src="<%= rutaLogoArbitro %>">
    </div>
    <div class="col-xs-10">
        <h4 class="list-group-item-heading"><%= nombre %> <%= paterno %> <%= materno %></h4>
        <p class="list-group-item-text"><%= sexo %></p>
        <p class="list-group-item-text"><%= fechaRegistro %></p>
        <p class="list-group-item-text"><%= calle %> <%= noExterior %> <%= noInterior %> <%= coloniaDesc %></p>
        <p class="list-group-item-text"><%= municipioDesc %> <%= estadoDesc %> <%= paisDesc %></p>
        <p class="list-group-item-text"><%= latitude %> <%= longitude %></p>
    </div>
</div>