<form id="form-equipo" role="form">
    <p>Detalle Equipo</p>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" placeholder="Nombre" type="text" name="nombre" value="<%= nombre %>">
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label>Alias</label>
                <input class="form-control" placeholder="Alias" type="text" name="aliasEquipo" value="<%= aliasEquipo %>">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Logo</label>
                <div id="upload-file"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="btn-ok" type="button" class="btn btn-success">Guardar</button>
        </div>
    </div>
</form>