<div class="row">
    <div class="col-md-12">
      <div class="main-box">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Equipo Admin</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="action-entuliga form-control" id="select-equipo" placeholder="Equipo...">
                            </select>
                        </div>
                        <div class="panel panel-default">
                            <div id="equipo-detail" class="panel-body">
                            </div>
                        </div>
                        <div class="btn-group-horizontal" role="group" aria-label="...">
                            <button id="equipo-nuevo" type="button" class="action-entuliga btn btn-primary">Registrar</button>
                            <button id="equipo-editar" type="button" class="action-entuliga btn btn-primary">Editar</button>
                            <button id="equipo-borrar" type="button" class="btn btn-danger action-entuliga">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Equipo</h3>
                            </div>
                            <div id="equipo-edit" class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
