<div class="row">
    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Jugador Admin</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="action-entuliga form-control" id="select-jugador" placeholder="Jugador...">
                            </select>
                        </div>
                        <div class="panel panel-default">
                            <div id="jugador-detail" class="panel-body">
                            </div>
                        </div>
                        <div class="btn-group-horizontal" role="group" aria-label="...">
                            <button id="jugador-nuevo" type="button" class="btn btn-primary action-entuliga">Nuevo</button>
                            <button id="jugador-editar" type="button" class="btn btn-primary action-entuliga">Editar</button>
                            <button id="jugador-borrar" type="button" class="btn btn-danger action-entuliga">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Jugador</h3>
                            </div>
                            <div id="jugador-edit" class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
