<div class="row">
    <div class="col-md-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Liga Admin</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <select class="form-control" id="select-liga" placeholder="Liga...">
                            </select>
                        </div>
                        <div class="panel panel-default">
                            <div id="liga-detail" class="panel-body">
                            </div>
                        </div>
                        <div class="btn-group-horizontal" role="group" aria-label="...">
                            <button id="liga-nuevo" type="button" class="btn btn-primary">Nuevo</button>
                            <button id="liga-editar" type="button" class="btn btn-primary">Editar</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Liga</h3>
                            </div>
                            <div id="liga-edit" class="panel-body">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
