<div class="container">
    <div class="container-fluid">
        <div class="navbar-header">
            <a id="home" class="navbar-brand title-entuliga" href="#">entuliga</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav menu-liga">
                <li class=" nav-item-entuliga">
                    <a href="#admin/perfil">Perfil</a>
                </li>
                <li class="nav-item-entuliga">
                    <a href="#admin/ligas">Ligas</a>
                </li>
                <li class="nav-item-entuliga">
                    <a href="#admin/torneos">Torneos</a>
                </li>
                <li class="nav-item-entuliga">
                    <a href="#admin/equipos">Equipos</a>
                </li>
                <li class="nav-item-entuliga">
                    <a href="#admin/jugadores">Jugadores</a>
                </li>
                <li class="nav-item-entuliga">
                    <a href="#admin/arbitros">Arbitros</a>
                </li>
                <li class="nav-item-entuliga">
                    <a href="#admin/canchas">Canchas</a>
                </li>
            </ul>
            <p class="nav navbar-right">
                <button id="logout" type="button" class="btn btn-danger navbar-btn">Salir</button>
            </p>
        </div>
    </div>
</div>
