
<div class="panel panel-default">
    <div class="panel-body">
        <h4 class="list-group-item-heading"><%= nombre %></h4>
        <p class="list-group-item-text"><%= descripcion %></p>
        <p class="list-group-item-text"><%= fechaInicioDes %> - <%= fechaFinDes %></p>
        <p class="list-group-item-text"><%= status %></p>
    </div>
</div>
<ul class="list-group">
    <a id="torneo-jornada" class="action-entuliga list-group-item">
        <span class="badge"><%= totalJornadas %></span>
        Jornadas
    </a>
    <a id="torneo-partido" class="action-entuliga list-group-item">
        <span class="badge"><%= totalPartidos %></span>
        Partidos
    </a>
    <a id="torneo-equipo" class="action-entuliga list-group-item">
        <span class="badge"><%= totalEquipos %></span>
        Equipos
    </a>
    <a id="torneo-jugador" class="action-entuliga list-group-item">
        <span class="badge"><%= totalJugadores %></span>
        Jugadores
    </a>
    <a id="torneo-cancha" class="action-entuliga list-group-item">
        <span class="badge"><%= totalCanchas %></span>
        Canchas
    </a>
</ul>