.tt-menu,
.twitter-typeahead
{
    width: 100%;
}

.twitter-typeahead
{
    margin-top: 5px;
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
  background-color: #efefef;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.empty-message {
  padding: 5px 10px;
 text-align: center;
}