<div class="modal fade" id="cancha-search-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Cancha</h4>
            </div>
            <div class="modal-body">
                <p>Seleccione Cancha.</p>
                <div class="alert alert-danger" role="alert"></div>
                <div class="input-group">
                    <input id="text-busqueda" type="text" class="form-control" placeholder="Buscar por...">
                    <span class="input-group-btn">
                        <button id="btn-buscar" class="btn btn-default" type="button">Buscar</button>
                    </span>
                </div>
                <div id="result-search" class="list-group">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btn-aceptar" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>
