html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px;
  padding-top: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: #32517f;
}
.footer span {
  color: #fff;
  position: absolute;
  bottom: 15px;
}
.starter-template {
  padding-top: 0px;
}
.menu-liga li.nav-item-entuliga {
  font-weight: bold;
  border-bottom: 3px solid transparent;
}
.menu-liga li.nav-item-entuliga a {
  color: #eef1f7;
}
.menu-liga li.nav-item-entuliga:hover {
  color: #fff;
  background: #32517f;
  border-bottom: 3px solid #07d621;
}
.menu-liga li.nav-item-entuliga:hover a {
  color: #fff;
}
.menu-liga li.nav-item-entuliga.active {
  border-bottom: 3px solid #07d621;
}
.menu-liga li.nav-item-entuliga.active a {
  background: #32517f;
  color: #fff;
}
.menu-liga li.nav-item-entuliga.active a:hover {
  background: #32517f;
  color: #eef1f7;
}
.menu-liga li.nav-item-entuliga.active a:focus {
  color: #fff;
  background: #32517f;
}
.center-box-login {
  margin: 50px auto;
  max-width: 400px;
  padding: 5px;
}
.form-login,
.form-signup {
  padding: 10px;
}
.form-login-heading,
.form-signup-heading {
  border-bottom: 1px solid #eef1f7;
  margin-bottom: 20px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.main-box {
  min-height: calc(100vh - 6.95em);
  background: #fff;
  -webkit-box-shadow: 1px 1px 1px #eef1f7;
  -moz-box-shadow: 1px 1px 1px #eef1f7;
  box-shadow: 1px 1px 1px #eef1f7;
  padding: 5px;
  padding-top: 15px;
  border: 1px solid transparent;
}
.title-entuliga {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-size: xx-large;
  font-weight: bold;
  color: #fff !important;
}
.title-entuliga:hover {
  color: #fff !important;
}
.minus-right {
  margin-right: 0;
}
#result-search {
  overflow-y: auto;
  max-height: 200px;
}
