<div class="modal fade" id="movimiento-create-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Movimiento</h4>
            </div>
            <div class="modal-body">
                <p>Crear Movimiento.</p>
                <div class="alert alert-danger" role="alert"></div>
                <form id="form-movimiento" role="form">
                    <input id="partido-id" type="hidden" name="partidoId" value="<%= partidoId %>">
                    <input id="origen-movimiento" type="hidden" name="origen" value="<%= origen %>">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Entra</label>
                                <select class="form-control" id="select-entra" placeholder="Jugador..." name="entraId" value="<%= entraId %>">
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Sale</label>
                                <select class="form-control" id="select-sale" placeholder="Jugador..." name="saleId" value="<%= saleId %>">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Tipo Movimiento</label>
                                <select class="form-control" id="select-tipo-movimiento" placeholder="Tipo Movimiento..." name="tipo" value="<%= tipo %>">
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Minuto</label>
                                <input  type="number" min="0" max="100" step="1" class="form-control validate-number" name="minuto" value="<%= minuto %>"/>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Segundo</label>
                                <input type="number" min="0" max="59" step="1" class="form-control validate-number"  name="segundo" value="<%= segundo %>">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="btn-aceptar" type="button" class="btn btn-success">Aceptar</button>
            </div>
        </div>
    </div>
</div>

