<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Puntos</h3>
    </div>
    <div id="partido-puntos" class="panel-body">
        <table id="puntos" class="table table-condensed">
            <thead>
            <tr>
                <th>#</th>
                <th>Minuto</th>
                <th>Jugador</th>
                <th>Tipo</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>